PORT=3001
NODE_ENV=development
URL_SITE=http://localhost:3001

JWT_SECRET=your-secret-here
PASSWORD_HASH=your-bcrypt-hash-here

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-password
DB_NAME=service_portal